.navbar-brand img {
    max-height: 50px;
    max-width: 150px;
}
.js-addElement:hover {
    cursor: pointer;
}


form .no-margin .col-xs-3 {
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 1px;
}

form .addMarginBottom {
    margin-bottom: 15px;
}